/* ===================================
        common css
====================================== */
body {
  font-family: $rank-flow-font;
  color: $body-text-color;
  font-size: $body-size;
  line-height: $body-line-height;
  font-weight: 400;
}
body.locked { overflow: hidden; }
a {
  color: inherit;
  transition: all 400ms ease;
}
a,a:hover,a:focus,a:visited { text-decoration: none; }
::placeholder {
  color: inherit;
  opacity: 1;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 800;
  font-family: $rank-flow-heading-font;
  color: $primary-text-color;
  br {
    @media (max-width: 479px) { display: none; }
  }
}
h1 {
  font-size: $heading-size1;
  line-height: 90px;
}
h2 {
  font-size: $heading-size2;
  line-height: 67px;
  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: 600px) {
    font-size: 30px;
    line-height: 41px;
  }
}
h3 {
  font-size: $heading-size3;
  line-height: 50px;
  @media (max-width: 991px) {
    font-size: 28px;
    line-height: 34px;
  }
}
h4 {
  font-size: $heading-size4;
  line-height: 33px;
}
h5 {
  font-size: $heading-size5;
  line-height: 24px;
}
h6 {
  font-size: $heading-size6;
  line-height: 22px;
}
p {
  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 25px;
  }
  br {
    @media (max-width: 575px) { display: none; }
  }
}
ul {
  li {
    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
ol {
  li {
    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.page{
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.ps-lg-120 {
  padding-left: 120px;
  @media (max-width: 991px) {
    padding-left: 0;
  }
}
.pe-lg-120 {
  padding-right: 120px;
  @media (max-width: 991px) {
    padding-right: 0;
  }
}

.gutter-y-10 { --bs-gutter-y: 10px; }
.gutter-y-15 { --bs-gutter-y: 15px; }
.gutter-y-20 { --bs-gutter-y: 20px; }
.gutter-y-30 { --bs-gutter-y: 30px; }
.gutter-y-40 { --bs-gutter-y: 40px; }
.gutter-y-50 { --bs-gutter-y: 50px; }
.gutter-y-60 { --bs-gutter-y: 60px; }
.gutter-y-70 { --bs-gutter-y: 70px; }
@media (max-width:991px) {
  .gutter-y-50 { --bs-gutter-y: 30px; }
  .gutter-y-60 { --bs-gutter-y: 32px; }
  .gutter-y-70 { --bs-gutter-y: 40px; }
}
.next-marketing-btn { @include nextmarketingBtn; }
.outline-btn {
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
  height: auto;
  padding-top: 19px;
  padding-bottom: 19px;
  &:hover {
    background-color: $primary-color;
    color: $body-color;
  }
  & > svg { margin-left: 10px; }
}

.sec-title {
  margin-bottom: 90px;
  @media (max-width:991px) { margin-bottom: 40px; }
  &__tagline {
    background-color: $bg-color2;
    position: relative;
    padding: 11px 40px;
    border-radius: 40px;
    margin-bottom: 22px;
    color: $primary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    @media (max-width:991px) {
      padding: 8px 26px;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__title {
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 0;
    &:hover {
      & > span { background-size: 100% 18px; }
    }
    & > span {
      position: relative;
      background-image: linear-gradient(120deg, var(--star-color, #F4C82A) 100%, var(--star-color, #F4C82A) 100%);
      background-size: 100% 12px;
      background-repeat: no-repeat;
      background-position: left 0 bottom 6px;
      transition: all 0.6s ease;
    }
    @media (max-width:991px) {
      font-size: 40px;
      line-height: 50px;
      & > br { display: none; }
    }
    @media (max-width:600px) {
      font-size: 30px;
      line-height: 41px;
    }
  }

  &__text {
    color: $body-text-color;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    @media (max-width:991px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.btn-body-color {
  background-color: $body-color;
  color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $body-color;
  }
}
.btn-radius { border-radius: 40px; }
.theme-mode-sticky {
  bottom: 30px;
  left: 15px;
  z-index: 992;
  transition: all 0.3s ease;
  gap: 5px;
  &.show,
  &.visible {
    .theme-mode-sticky-bg {
      opacity: 1;
      visibility: visible;
    }
    &.show {
      .progress-circle-container {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .topbar-two__theme-icon {
    &.dark-icon {
      img { filter: brightness(1) invert(0); }
    }
}
  .theme-mode-sticky-bg {
    opacity: 0;
    visibility: hidden;
    position: relative;
    background-color: rgba($bg-color-rgb, 0.1);
    padding: 5px 4px;
    gap: 5px;
  }
  .topbar-two__themeicon-wrap {
    position: absolute;
    width: auto;
    top: 0;
    left: 100%;
    padding: 0;
    margin-left: 4px;
    padding: 2px;
    gap: 4px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    &.visibility {
      opacity: 1;
      visibility: visible;
    }
  }
  .topbar-two__themetext-wrap { padding-left: 0; }
  .topbar-two__theme-text {
    font-size: 16px;
    line-height: 24px;
  }
  .topbar-two__theme-icon {
    width: 30px;
    height: 30px;
  }
  .topbar-two__thememodline {
    padding: 0;
    width: 30px;
    flex-direction: column;
    position: relative;
    &::after { content: none !important; }
  }
  .question-icon,
  .topbar-two__themelng.lng-selected {
    background-image: none !important;
    width: 30px !important;
    height: 30px !important;
    padding-right: 0 !important;
    justify-content: center;
    background-color: $body-color;
    border-radius: 50%;
    .topbar-two__lng-text {
      text-indent: -99999px;
      padding: 0;
    }
  }
  .question-icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    .cross { display: none; }
    &.open {
      .question { display: none; }
      .cross { display: block; }
    }
  }
  .topbar-two__themelng-opt {
    width: 76px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba($primary-text-color-rgb, .2);
    -moz-box-shadow: 0px 0px 15px 0px rgba($primary-text-color-rgb, .2);
    box-shadow: 0px 0px 15px 0px rgba($primary-text-color-rgb, .2);
		left: 36px;
    z-index: 2;
	}
  .progress-circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-75deg);
    right: 15px;
    bottom: 30px;
    z-index: 9991;
    opacity: 0;
    visibility: hidden;
  }
  .progress-circle {
    width: 38px;
    height: 38px;
    filter: drop-shadow(0px 0px 8px rgba($primary-text-color-rgb, 0.2));
    border-radius: 50%;
  }
  .progress-circle-bar {
    fill: none;
    stroke: $primary-color;
    stroke-width: 5;
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
    transform-origin: center;
    transition: stroke-dashoffset 0.3s ease;
  }
  .progress-background {
    fill: $body-color;
    stroke: $body-color;
    stroke-width: 5;
    stroke-dasharray: none; 
  }
  .scroll-to-top {
    position: absolute;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(75deg);
  }
  .scroll-to-top svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke: $primary-text-color;
    transition: all 0.1s ease;
  }
}
.footer-pt200 { padding-top: 200px !important; }
.mb-n170 { margin-bottom: -168px; }

.sticky-elements {
  position: sticky;
  top: 150px;
}
.bg-primary { background-color: $primary-color !important; }
.star-icon {
  color: $star-color;
  font-size: 20px;
  letter-spacing: 4px;
}
.reset-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.check-circle {
  li {
    padding-left: 38px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      top: 2px;
      left: 0;
      z-index: 1;
      background-image: url('../images/shapes/check-icon-blue.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px auto;
    }
    & + li { margin-top: 15px; }
  }
}

// quick-message
.quick-message {
  width: 300px;
  height: auto;
  left: 0;
  transform: translateX(-104%);
  opacity: 0;
  transition: transform 500ms ease, opacity 500ms ease;
  background-color: $body-color;
  border-radius: 12px;
  padding: 22px;
  padding-top: 18px;
  -webkit-box-shadow: 0px 0px 8px -1px rgba($bg-color-rgb,0.2);
  -moz-box-shadow: 0px 0px 8px -1px rgba($bg-color-rgb,0.2);
  box-shadow: 0px 0px 8px -1px rgba($bg-color-rgb,0.2);
  &.open {
    opacity: 1;
    transform: translateX(0);
  }

  .form-control {
    border-width: 2px;
    border-color: rgba($icon-color-rgb, 0.6);
    background-color: $body-color;
    color: $primary-text-color;
  }
  .form-control.text-area { min-height: 80px; }
  .form-control:is(:focus, :focus-visible) {
    background-color: $body-color;
    color: $primary-text-color;
    border-color: rgba($icon-color-rgb, 0.6);
    box-shadow: initial;
  }

  .form-control::-webkit-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
  .form-control:-moz-placeholder { color: rgba($icon-color-rgb, 0.7); }
  .form-control::-moz-placeholder { color: rgba($icon-color-rgb, 0.7); }
  .form-control:-ms-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
  .form-control::-ms-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
  .form-control::placeholder { color: rgba($icon-color-rgb, 0.7); }

  .msg-cross {
    right: 12px;
    top: 12px;
    cursor: pointer;
  }
  .footer__socialwrap {
    gap: 14px;
    li {
      font-size: 18px;
      color: $body-text-color;
    }
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

/*---owl carousel custom css---*/
.nextmarketing-owl__carousel-shadow {
  .owl-stage-outer { overflow: visible; }
  .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
  }
  .owl-item.active {
    opacity: 1;
    visibility: visible;
  }
}
.owl-stage-outer { overflow: hidden; }
.owl-stage {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.owl-dots.disabled,
.owl-nav.disabled { display: none; }
.owl-nav {
  position: absolute;
  width: 100%;
  max-width: 620px;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > button {
    width: 38px;
    height: 38px;
    border: 3px solid $primary-text-color !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    color: $primary-text-color !important;
    opacity: 0.5;
    transition: all 0.5s ease;
    &:hover { opacity: 1; }
  }
}
.owl-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  .owl-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba($body-color-rgb, 0.4) !important;
    display: block !important;
    &.active { background-color: $body-color !important; }
    +.owl-dot { margin-left: 10px; }
  }
}

// custom cursor css
.custom-cursor-one {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 1px solid $primary-color;
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
  position: fixed;
  pointer-events: none;
  left:0;
  top:0;
  -webkit-transform: translate(calc(-50% + 5px), -50%);
  transform: translate(calc(-50% + 5px), -50%);
  z-index: 999991;
  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    opacity: 0.3;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    animation: customCursor 2s ease-out 0.5s infinite ;
    border-radius: 50%;
  }
  &::after { animation-delay: -1s; }
  @keyframes customCursor {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  @media (max-width:992px) { display: none; }
}
.custom-cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $primary-color;
  opacity: 0.3;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 999991;
  @media (max-width:992px) { display: none; }
}
.custom-cursor-innerhover {
  width: 22px;
  height: 22px;
  opacity: 0.4;
}

// preloader css
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--body-color);
}

.preloader .loading { position: absolute; }
.loader-logo {
  max-width: 342px;
  margin: 100px 0 auto 0;
}
.loader-logo img { width: 100% !important; }
.loader-progress-bar {
  width: 0;
  height: 20px;
  background-color: var(--primary-color);
}
.percentage-text {
  font-size: 300px;
  line-height: 1;
  color: var(--primary-color);
  margin-bottom: 20px;
}
@media (max-width:992px) {
  .loader-logo { max-width: 200px; }
  .percentage-text { font-size: 120px; }
}

[data-bs-theme="dark"] {
  .sec-title__title {
    & > span { background-image: linear-gradient(120deg, var(--primary-color, #2E4DFE) 100%, var(--primary-color, #2E4DFE) 100%); }
  }
  .theme-mode-sticky {
    .topbar-two__theme-icon {
      &.light-icon { background-color: transparent; }
      &.dark-icon {
        background-color: $body-color;
        color: $body-text-color;
        img { filter: brightness(0) invert(1); }
      }
    }
    .theme-mode-sticky-bg { backdrop-filter: blur(10px); }
    .scroll-to-top svg { stroke: $primary-text-color; }
  }
}