/* ===================================
        dashboard css
====================================== */
.section-dashboard {
    overflow: hidden;
    padding: 60px 0;
    @media (max-width:991px) { padding: 35px 0; }
    .container { max-width: 1350px; }
    .sec-title {
        max-width: 900px;
        margin: 0 auto;
    }
    &__bg {
        background-color: $bg-color2;
        border-radius: 0 0 30px 30px;
        padding: 0 80px 50px 80px;
        position: relative;
        @media (max-width:991px) { padding: 0 40px 20px 40px; }
        @media (max-width:767px) { padding: 0 15px 20px 15px; }
        .row {
            position: relative;
            z-index: 2;
        }
    }
    &__popimg {
        position: relative;
        z-index: 2;
        padding: 50px 80px 46px 80px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        @media (max-width:991px) { padding: 40px 40px 30px 40px; }
        @media (max-width:767px) { padding: 28px 15px 20px 15px; }
        
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            background-color: $bg-color2;
            height: calc(calc(100% + 0px));
            top: 275px;
            left: 0;
            z-index: -1;
            border-radius: 30px 30px 0 0;
            @media (max-width:991px) {
                top: 100px;
            }
        }
        img {
            width: 100% !important;
            border-radius: 30px !important;
            box-shadow: 0px 4px 46.9px 0px rgba(9, 25, 40, 0.10);
            object-fit: cover;
            @media (max-width:991px) {
                border-radius: 12px !important;
                box-shadow: 0px 4px 20px 0px rgba(9, 25, 40, 0.10);
            }
        }
    }
    &__playwrap {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:991px) {
            width: 150px;
            height: 150px;
        }
    }
    &__playbtn {
        position: absolute;
        width: 132px;
        height: 132px;
        border-radius: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        @media (max-width:991px) {
            width: 70px;
            height: 70px;
        }
        img {
            height: auto !important;
            border-radius: 50% !important;
        }
        .video-popup-link {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .waves {
        position: absolute;
        width: 200px;
        height: 200px;
        background: rgba($primary-color-rgb, 0.3);
        opacity: 0;
        border-radius: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        -webkit-animation: waves 3s ease-in-out infinite;
        animation: waves 3s ease-in-out infinite;
        @media (max-width:991px) {
            width: 150px;
            height: 150px;
        }
    }

    @keyframes waves {
        0% {
            -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
            opacity: 0;
        }
        50% { opacity: 0.9; }
        100% {
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
            opacity: 0;
        }
    }
    .wave-1 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    }
    
    .wave-2 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    }
    
    .wave-3 {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
    }
    
    &__row {
        @media (max-width:991px) { margin-top: 26px; }
    }
    &__row-icon {
        width: 85px;
        min-width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        @include svgIcon;
        font-size: 28px;
        color: transparent;
        @media (max-width:991px) {
            min-width: 50px;
            width: 50px;
            height: 50px;
            font-size: 22px;
        }
        svg { fill: transparent; }
    }
    &__row-info {
        padding-left: 28px;
        @media (max-width:991px) { padding-left: 16px; }
    }
    &__row-title {
        font-size: $heading-size4;
        line-height: 33px;
        margin-bottom: 0;
        a { @include borderHover; }
        @media (max-width:991px) {
            font-size: 19px;
            line-height: 28px;
        }
    }
    &__row-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        margin-bottom: 0;
        @media (max-width:991px) {
            font-size: 16px;
            line-height: 23px;
        }
    }

    &--five {
        padding-bottom: 52px;
        .sec-title {
            margin-bottom: 50px;
            @media (max-width:991px) { margin-bottom: 30px; }
        }
        .section-dashboard__popimg {
            padding: 0;
            max-height: 550px;
            border-radius: 30px;
            overflow: hidden;
            img {
                width: 100% !important;
                object-fit: cover;
                @media (max-width:800px) { height: 355px; }
            }
            &::after { content: none; }
        }
    }
}

.waves {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba($primary-color-rgb, 0.3);
    opacity: 0;
    border-radius: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
    @media (max-width:991px) {
        width: 150px;
        height: 150px;
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}
.wave-1 {
-webkit-animation-delay: 2s;
animation-delay: 2s;
}

.wave-2 {
-webkit-animation-delay: 3s;
animation-delay: 3s;
}

.wave-3 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}