/* ===================================
        form css
====================================== */
.section-form {
    padding: 60px 0;
    @media (max-width:991px) { padding: 35px 0; }
    .container { max-width: 1680px; }
    &__bg {
        background-color: $primary-color;
        position: relative;
        border-radius: 30px;
        padding: 138px 20px 62px 20px;
        @media (max-width:991px) { padding-top: 52px; }
    }
    &__bgimg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.2;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
    }
    &__inner-mx {
        max-width: 1320px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    &__content {
        width: calc(calc(41% - 0px) / 1);
        padding-bottom: 45px;
        @media (max-width:991px) { width: 100%; }
    }
    &__icon {
        width: 75px;
        height: 75px;
        background-color: $body-color;
        border-radius: 8px;
        margin-bottom: 13px;
        img { width: 46px !important; }
    }
    .sec-title  {
        margin-bottom: 0;
        &__title {
            color: $body-color;
            margin-bottom: 9px;
        }
        &__text {
            color: $body-color;
            padding-right: 70px;
            @media (max-width:991px) {
                font-size: 16px;
                line-height: 26px;
                padding-right: 0;
            }
        }
    }
    &__form {
        width: calc(calc(59% - 0px) / 1);
        @media (max-width:991px) { width: 100%; }
    }
    &--four {
        padding-bottom: 0;
        @media (max-width:991px) { margin-bottom: -140px; }
        .container { max-width: 1350px; }
        .section-form__bg {
            background-color: $body-color;
            box-shadow: 0px -8px 40px 0px rgba($primary-text-color-rgb, 0.1);
            padding: 50px;
            padding-top: 80px;
            @media (max-width:991px) { padding: 52px 20px; }
        }
        .section-form__icon { box-shadow: 0px 4px 20px 0px rgba($primary-text-color-rgb, 0.1); }
        .sec-title {
            &__title { color: $primary-text-color; }
            &__text { color: $body-text-color; }
        }
        .section-form__form {
            width: calc(50% + 0px);
            margin-left: auto;
            @media (max-width:991px) { width: 100%; }
        }
        .form-control {
            border-width: 2px;
            border-color: rgba($icon-color-rgb, 0.6);
            background-color: $body-color;
            color: $primary-text-color;
        }
        .custom-select {
            .form-control { color: rgba($icon-color-rgb, 0.7); }
            .attr-remove::after, 
            .custom_selected::after { filter: opacity(0.2); }
            .attr-remove { color: $primary-text-color; }
        }
        .custom_select_opt_wrap {
            border: 2px solid rgba($icon-color-rgb, 0.6);
            border-top: 0;
        }
        .custom_select_opt {
            &:hover { color: $body-color; }
        }
        .form-control::-webkit-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
        .form-control:-moz-placeholder { color: rgba($icon-color-rgb, 0.7); }
        .form-control::-moz-placeholder { color: rgba($icon-color-rgb, 0.7); }
        .form-control:-ms-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
        .form-control::-ms-input-placeholder { color: rgba($icon-color-rgb, 0.7); }
        .form-control::placeholder { color: rgba($icon-color-rgb, 0.7); }
    }
}

[data-bs-theme="dark"] {
    .section-form--four .section-form__bg { box-shadow: 0px -8px 40px 0px rgba(0,0,0, 0.3); }
} 